MONGO_URI=mongodb+srv://username:password@cluster.mongodb.net/citymate?retryWrites=true&w=majority
JWT_SECRET=your-super-secret-jwt-key-change-in-production
PORT=3001
NODE_ENV=development
ADMIN_EMAIL=admin@citymate.com
ADMIN_PASSWORD_HASH=$2a$10$92IXUNpkjO0rOQ5byMi.Ye4oKoEa3Ro9llC/.og/at2.uheWG/igi
FRONTEND_URL=http://localhost:5500

